#preview-container {
  width: 100vw;
  height: 100vh;
  /* min-height: 600px; */
  font-family: 'Poppins';
  position: relative;
}

.preview-slide {
  margin-top: 5%;
}

.prev-hor-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  height: 100%;
}

.slide-image {
  width: 400px;
  height: 300px;
  object-fit: contain;
  flex: 1;
}

.slide-image-under-title {
  width: 90%;
  height: 300px;
  object-fit: contain;
  flex: 1;
  display: none;
}

.preview-text-container {
  flex: 4;
  margin-left: 30px;
  height: 80%;
  overflow: scroll;
}

.preview-text-not-title-container {
  /* height: 50%; */
  /* overflow: auto; */
}

.padding {
  height: 200px;
}

.prev-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.prev-desc {
  margin-bottom: 20px;
  font-size: 1.2rem;
  white-space: pre-line !important;
}

.prev-sec-label {
  display: inline-block;
  font-weight: bold;
}

.prev-section {
  margin-top: 10px;
  font-size: 1.2rem;
}

.prev-wave {
  position: absolute;
  width: 100%;
  bottom: 0px;
  pointer-events: none;
}

.prev-wave svg {
  bottom: 0px;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.edit-project-button {
  background-color: rgb(180, 180, 180);
  width: 200px;
  height: 60px;
  margin-top: 20px;
  color: white;
  font-size: 1.5rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.prev-title-label {
  font-weight: bold;
}

.prev-desc-label {
  font-weight: bold;
  margin-top: 20px;
}

.prev-edit-textarea {
  font-family: 'Poppins';
  resize: none;
  width: 100%;
  height: 20px;
}

.prev-edit-textarea-desc {
  font-family: 'Poppins';
  resize: vertical;
  width: 100%;
}

.prev-submit-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.prev-submit-edits {
  background-color: #0099FF;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit-project-pic-pic {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
}

.project-pic-label {
  margin-top: 20px;
  font-weight: bold;
}

.edit-project-pic-button {
  color: #0099FF;
  cursor: pointer;
}

.fun-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}

#copy-url-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.preview-url {
  border: 1px solid grey;
  border-radius: 5px; /* Adjust the value to achieve the desired curvature */
  padding: 10px;
  overflow: scroll;
  margin-bottom: 20px;
}

.waves-enabled-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.waves-enabled-label {
  font-weight: bold;
}

.waves-enabled-check {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.reselect-projects-button {
  background-color: #0099FF;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}

.remove-project-button {
  background-color: rgb(177, 57, 57);
  color: white;
  font-size: 0.7rem;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}

.remove-confirm-title {
  font-weight: bold;
}

.remove-buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.cancel-button {
  background-color: rgb(180, 180, 180);
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}

.preview-modal-loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 200px;
}

.preview-modal-loading-title {
  font-weight: bold;
  text-align: center;
}

.preview-big-loading-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.title-link {
  text-decoration: none;
  color: black;
}

#preview-credit {
  position: absolute;
  bottom: 0px;
  right: 10px;
  z-index: 110;
  color: white;
  animation: textFadeIn 2000ms;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  width: auto;
  height: 20vh;
  max-height: 100px;
}


@media (max-width: 768px) {
  .slide-image {
    display: none;
  }

  .slide-image-under-title {
    display: unset;
  }

  .preview-text-not-title-container {
    /* overflow: scroll; */
    height: 90%;
  }

  .prev-title {
    font-size: 2rem;
  }

  .prev-desc {
    margin-bottom: 20px;
    font-size: 1rem;
  }

  .prev-section {
    margin-top: 10px;
    font-size: 1rem;
  }

  
}

@media (max-height: 400px) {
  .padding {
    height: 100px;
  }
}