#preview-container {
  width: 100vw;
  height: 100vh;
  /* min-height: 600px; */
  font-family: 'Poppins';
  position: relative;
}

.preview-slide {
  margin-top: 5%;
  height: 60%;
}

.prev-hor-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  height: 100%;
}

.slide-image {
  width: 400px;
  height: 300px;
  object-fit: contain;
  flex: 1;
}

.slide-image-under-title {
  width: 90%;
  height: 300px;
  object-fit: contain;
  flex: 1;
  display: none;
}

.preview-text-container {
  flex: 4;
  margin-left: 30px;
  height: 80%;
  overflow: scroll;
}

.preview-text-not-title-container {
  /* height: 50%; */
  /* overflow: auto; */
}

.padding {
  height: 200px;
}

.prev-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.prev-desc {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.prev-sec-label {
  display: inline-block;
  font-weight: bold;
}

.prev-section {
  margin-top: 10px;
  font-size: 1.2rem;
}

.prev-wave {
  position: absolute;
  width: 100%;
  bottom: 0px;
  pointer-events: none;
}

.prev-wave svg {
  bottom: 0px;
}

.swiper-pagination-bullet {
  background-color: white !important;
}


@media (max-width: 768px) {
  .slide-image {
    display: none;
  }

  .slide-image-under-title {
    display: unset;
  }

  .preview-text-not-title-container {
    /* overflow: scroll; */
    height: 90%;
  }

  .prev-title {
    font-size: 2rem;
  }

  .prev-desc {
    margin-bottom: 20px;
    font-size: 1rem;
  }

  .prev-section {
    margin-top: 10px;
    font-size: 1rem;
  }

  
}

@media (max-height: 400px) {
  .padding {
    height: 100px;
  }
}